<div class="container caps">
  <div class="panel-group homepanel">
    <div class="panel panel-primary wow slideInRight tablepanel" data-wow-duration="2s">
      <div class="panel-heading">
        <h3>CANCER PROTOCOLS</h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <table class="table table-bordered w3-table">
            <tbody>
              <tr>
                <td class="hvr-wobble-horizontal"><a class="hvr-icon-wobble-horizontal">Bone and soft tissue&nbsp;</a></td>
                <td class="hvr-wobble-horizontal"><a class="hvr-icon-wobble-horizontal">Breast&nbsp;</a></td>
                <td class="hvr-wobble-horizontal"><a class="hvr-icon-wobble-horizontal">Central nervous system&nbsp;</a></td>
                <td class="hvr-wobble-horizontal"><a class="hvr-icon-wobble-horizontal">Endocrine&nbsp;</a></td>
              </tr>
              <tr>
                <td class="hvr-wobble-horizontal"><a class="hvr-icon-wobble-horizontal">Gastrointestinal&nbsp;</a></td>
                <td class="hvr-wobble-horizontal"><a class="hvr-icon-wobble-horizontal">Genitourinary&nbsp;</a></td>
                <td class="hvr-wobble-horizontal"><a class="hvr-icon-wobble-horizontal">Gynecologic&nbsp;</a></td>
                <td class="hvr-wobble-horizontal"><a class="hvr-icon-wobble-horizontal">Head and neck&nbsp;</a></td>
              </tr>
              <tr>
                <td class="hvr-wobble-horizontal"><a class="hvr-icon-wobble-horizontal">Hematologic&nbsp;</a></td>
                <td class="hvr-wobble-horizontal"><a class="hvr-icon-wobble-horizontal">Ophthalmic&nbsp;</a></td>
                <td class="dropdown">
                  <a class="dropdown-toggle hvr-icon-wobble-horizontal hvr-wobble-horizontal" href="">Pediatric&nbsp;</a>
                  <ul class="dropdown-content">
                    <li><a href="#/cap">Ewing sarcoma biopsy</a></li>
                    <li><a href="#/cap/2">Ewing sarcoma resection</a></li>
                    <li><a href="#/cap">Extragonadal germ cell tumor biopsy/resection</a></li>
                    <li><a href="#/cap">Hepatoblastoma biopsy/resection</a></li>
                    <li><a href="#/cap">Kidney tumors biopsy/resection</a></li>
                    <li><a href="#/cap">Neuroblastoma biopsy/resection</a></li>
                    <li><a href="#/cap">Rhabdomyosarcoma biopsy/resection</a></li>
                  </ul>
                </td>
                <td class="hvr-wobble-horizontal"><a class="hvr-icon-wobble-horizontal">Skin&nbsp;</a></td>
              </tr>
              <tr>
                <td class="hvr-wobble-horizontal"><a class="hvr-icon-wobble-horizontal">Thorax&nbsp;</a></td>
                <td class="hvr-wobble-horizontal"><a class="hvr-icon-wobble-horizontal">Other&nbsp;</a></td>
                <td class="hvr-wobble-horizontal"><a></a></td>
                <td class="hvr-wobble-horizontal"><a></a></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="panel panel-primary wow slideInLeft tablepanel"  data-wow-duration="2s">
      <div class="panel-heading">
        <h3>BIOMARKER TEMPLATES</h3>
      </div>
      <div class="panel-body">
        <div class="row w3-responsive" style="overflow-x:auto;">
          <table class="w3-table table table-bordered">
            <tbody>
              <tr>
                <td class="hvr-wobble-horizontal"><a class="hvr-icon-wobble-horizontal">Breast&nbsp;</a></td>
                <td class="hvr-wobble-horizontal"><a class="hvr-icon-wobble-horizontal">Central nervous system&nbsp;</a></td>
                <td class="hvr-wobble-horizontal"><a class="hvr-icon-wobble-horizontal">Endocrine&nbsp;</a></td>
                <td class="hvr-wobble-horizontal"><a class="hvr-icon-wobble-horizontal">Gastrointestinal&nbsp;</a></td>
              </tr>
              <tr>
                <td class="hvr-wobble-horizontal"><a class="hvr-icon-wobble-horizontal">Gynecologic&nbsp;</a></td>
                <td class="hvr-wobble-horizontal"><a class="hvr-icon-wobble-horizontal">Head and neck&nbsp;</a></td>
                <td class="hvr-wobble-horizontal"><a class="hvr-icon-wobble-horizontal">Hematologic&nbsp;</a></td>
                <td class="hvr-wobble-horizontal"><a class="hvr-icon-wobble-horizontal">Skin&nbsp;</a></td>
              </tr>
              <tr>
                <td class="hvr-wobble-horizontal"><a class="hvr-icon-wobble-horizontal">Thorax&nbsp;</a></td>
                <td class="hvr-wobble-horizontal"><a></a></td>
                <td class="hvr-wobble-horizontal"><a></a></td>
                <td class="hvr-wobble-horizontal"><a></a></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>